[Unit]
Description=Cap battery charge at 60%
After=sys-class-power_supply.mount multi-user.target
ConditionPathExistsGlob=/sys/class/power_supply/BAT*

[Service]
Type=oneshot
ExecStart=/usr/local/bin/spectre-charge-limit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
