# Re-apply 60% end threshold when the battery device appears.
ACTION=="add", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_TYPE}=="Battery", TEST=="charge_control_end_threshold", ATTR{charge_control_end_threshold}="60"
ACTION=="add", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_TYPE}=="Battery", TEST=="charge_control_start_threshold", ATTR{charge_control_start_threshold}="50"
